wheel
git+https://github.com/google/aiyprojects-raspbian.git@aiyprojects#egg=aiy-projects-python
google-cloud-speech
google-cloud-texttospeech
openai
anthropic==0.26
pydub
python-dotenv
yandex-speechkit
grpcio
protobuf
tavily-python
pytz
geocoder
